p {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.headshot {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h1{
    font-size: 50px !important;
}