a:hover{
    color: white;
    text-decoration: none;
}
.body{
    text-align: center;
}
.Project{
    padding: 5px;
}
.Projects{
    padding: 1%;
	display:inline-block;
	background-color: rgb(80, 80, 80);
	width: 80%;
	max-width: 800px;
	border-radius: 20px;
	position: relative;
	top: 200px;
}
.Project1, .Project2, .Project3{
    width: 700px;
}
.ProjectBlock{
    position: relative;
    display:inline-block;
    overflow: hidden;
}
.overlay1, .overlay2, .overlay3{
    display: none;
    font-size: 50px;
}
.Project1:hover + .overlay1, .Project2:hover + .overlay2, .Project3:hover + .overlay3{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    padding-top: 25%;
}
.overlay1:hover, .overlay2:hover, .overlay3:hover{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    padding-top: 25%;
}
.CategoryMessage{
    font-size: 30px;
	height: 150px;
	width: 100%;
	background-color: rgba(10,10,10,0.60);
	position: absolute;
	left: 0px;
}
.Overflow {
	overflow: hidden;
}
.AnimationsBG {
	background-image: url("../../imgs/MiniGolfBall.png");
	background-size: cover;
	background-position: center;
}
.RendersBG {
	background-image: url("../../imgs/nicky-jushchyshyn-assembled-2.jpg");
	background-size: cover;
	background-position: center;
}
.LiveProdBG {
	background-image: url("../../imgs/UNCGPano.jpg");
	background-size: cover;
	background-position: bottom;
}
.OtherBG {
	background-image: url("../../imgs/OverlayCode.png");
	background-size: cover;
	background-position: top;
}