a:hover{
    color: white;
    text-decoration: none;
}
.body{
    text-align: center;
}
.Project{
    padding: 5px;
}
.Projects{
    padding: 1%;
	display:inline-block;
	background-color: rgb(80, 80, 80);
	width: 80%;
	border-radius: 2%;
	position: relative;
	top: 200px;
}
.Project1, .Project2, .Project3{
    width: 700px;
}
.ProjectBlock{
    position: relative;
    display:inline-block;
    overflow: hidden;
}
.overlay1, .overlay2, .overlay3{
    display: none;
    font-size: 50px;
}
.Project1:hover + .overlay1, .Project2:hover + .overlay2, .Project3:hover + .overlay3{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    padding-top: 25%;
}
.overlay1:hover, .overlay2:hover, .overlay3:hover{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    padding-top: 25%;
}
.CategoryMessage{
    font-size: 30px;
	height: 150px;
	width: 100%;
	background-color: rgb(20, 20, 20);
	position: absolute;
	left: 0px;
}