a:hover{
    color: white;
    text-decoration: none;
}
.body{
    text-align: center;
}
.Project{
    padding: 5px;
}
.LiveProd1{
    width: 500px;
}
.LPProject1{
    position: relative;
    display:inline-block;
    top: 200px;
    overflow: hidden;
}
.overlay1{
    display: none;
    font-size: 50px;
}
.LiveProd1:hover + .overlay1{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;

}
.overlay1:hover{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    padding-top: 25%;
}
.LiveProd2{
    width: 500px;
}
.LPProject2{
    position: relative;
    display:inline-block;
    top: 200px;
    overflow: hidden;
}
.overlay2{
    display: none;
    font-size: 50px;
}
.LiveProd2:hover + .overlay2{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    padding-top: 25%;
}
.overlay2:hover{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    padding-top: 25%;
}