a:hover{
    color: white;
    text-decoration: none;
}
.body{
    text-align: center;
}
body{
    width: 99.2%;
	min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 16px;
	position: relative;
	left: -8px;
	top: -8px;
}
.Projects{
	display:inline-block;
	background-color: rgb(80, 80, 80);
	width: 80%;
	max-width: 1250px;
	border-radius: 20px;
	position: relative;
	top: 200px;
}
.AllProjectsBG {
	background-image: url("imgs/UNCGPano.jpg");
	background-size: cover;
	background-position: bottom;
	width: 100vw;
}
.Project1, .Project2, .Project3, .Project4, .Project5, .Project6{
    max-width: 600px;
	width: 100%;
	display: inline;
}
.ProjectBlock{
    position: relative;
    display:inline-block;
    overflow: hidden;
	padding: 10px;
	max-width: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6{
    display: none;
    font-size: 250%;
}
.Project1:hover + .overlay1, .Project2:hover + .overlay2, .Project3:hover + .overlay3, .Project4:hover + .overlay4, .Project5:hover + .overlay5, .Project6:hover + .overlay6 {
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    padding-top: 25%;
}
.overlay1:hover, .overlay2:hover, .overlay3:hover, .overlay4:hover, .overlay5:hover, .overlay6:hover{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0px;
    left: 0px;
    display: block;
    text-align: center;
    padding-top: 25%;
}
.CategoryMessage{
	height: 150px;
	width: 100%;
	position: absolute;
	left: 0px;
	background-color: rgba(10,10,10,0.60)
}
.Center {
    width: 95%;
    padding-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}