body{
    width: 99.2%;
	min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 16px;
	position: relative;
	left: -8px;
	top: -34px;
}
html {
    width: 100vw;
	height: 100%;
	overflow-x: hidden;
	background-color: rgba(49, 49, 49,1);
	background-image: url('imgs/LeftSide.png'), url('imgs/RightSide.png');
	background-repeat: repeat-y;
	background-position: left, right;
	background-size: 400px;
}
head {
	background-color: aqua;
	width: 100%;
	height: 100%;
}
.header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100vw;
    background-image: linear-gradient(#2f6905,#1f4703);
    font-size: 30px;
}
.Foot{
    position: relative;
	clear: both;
	margin-top: 200px;
    width: 100vw;
    height: 75px;
    background-image: linear-gradient(#2f6905,#1f4703);
    font-size: 30px;
    padding-top: 30px;
    padding-left: 10px;
}
.Home{
    position: relative;
    top: 30%;
    left: 20px;
}
.HomeButton{
    top: -30px;
    position: absolute;
    height: 100px;
    width: 100px;
}
.ImportantMessage, .AboutMessage, .ProjectMessage, .CategoryMessage{
    position: relative;
    top: 100px;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 50px;  
}
h2{
    text-align: center;
    font-size: 40px;  
	font-weight: 500;
}
.About{
    position: relative;
    top: 35%;
    left: 130px;
    font-size: 25px;
    width: 200px;
}
.About>a{
    position: absolute;
    z-index: 9999;
}
.Home>a{
    height: 100px;
    position: absolute;
    z-index: 9999;
}
.AllProjects{
    position: relative;
    top: 35%;
    left: 220px;
    font-size: 25px;
    width: 400px;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited{
    color: #ffffff;
}
a:hover {
  color: #9BF526;
  background-color: transparent;
  text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 50%;
    overflow: auto;
    z-index: 9999;
    background-color: #ffffff;
    color: #000000;
}
.AllProjects:hover .dropdown-content {
    display: block;
    position: absolute;
}
.dropdown-content a {
    display: block;
    background-image: linear-gradient(rgb(32, 32, 32), #000000);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-top: 2px solid #ffffff;
    font-weight: 550;
    font-stretch: condensed;
}
.dropdown-content a:hover {
    color: black;
    background-image: linear-gradient(#a3ff2b,#74b61d);
    display: block;
    text-align: center;
    font-weight: 700;
}
.Categories{
    background-image: linear-gradient(rgb(32, 32, 32), #000000);
    color: #ffffff;
    text-align: center;
    font-weight: 550;
    font-stretch: condensed;
    height: 40px;
    padding-top: 5px;
}
.Center {
    width: 95%;
    padding-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Spacer {
	height: 100px;
}
.ProjectImage {
    position: relative;
    top: 100px;
    width: 40%;
	padding: 2%;
}
.FollowParagraph {
    width: 50%;
	padding: 1%;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
}
p {
    position: relative;
    top: 100px;
    width: 60%;
    font-size: 25px;
}